{{define "header"}}
<!DOCTYPE html>
<html>
<head>
    <title>Mail filter</title>
</head>

{{end}}

{{define "index"}}
{{template "header" . }}

<h1> Current whitelist </h1>

{{range .Whitelist}}
            {{ . }}<br>
{{end}}

<form action="/add" method="GET">
    <input name="host" type="text" />
    <input type="submit" value="Add">
</form>
<br>
<form action="/delete" method="GET">
    <input name="host" type="text" />
    <input type="submit" value="delete">
</form>



<h1> Current Blacklist </h1>

{{range .Blacklist}}
            {{ . }}<br>
{{end}}

<form action="/addBlacklist" method="GET">
    <input name="host" type="text" />
    <input type="submit" value="Add">
</form>
<br>
<form action="/deleteBlacklist" method="GET">
    <input name="host" type="text" />
    <input type="submit" value="delete">
</form>

<form action="/check" method="GET">
    <input type="submit" value="Check">
</form>

{{end}}
